
/*css navbar*/
.divHeader
{
    max-width: 100%;
    padding: 10px 10px 16px;
    margin: 10px 10px;
    overflow: hidden;
    position: relative;
    top:0px;
    background-color: #ffe61b;
    border: #1a1a1a solid;
}
.imgLogo{
    height: 100px;
    width: 100px;
    float: left;
}
.head_CatUl
{
    display:inline-list-item;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.head_Category li{
    float:left;
}
.head_Category a {
    text-decoration: none;
    display: block;
    padding: 10px;
    border: red;
    font-family: sans-serif;
}
.head_Category a:hover{
    color:red;
    transition: 0.3s ease-out;
}
.carrello_icon{
    width: 25px;
    height: 25px;
    border-radius: 15px;
}
.carrello_icon:hover{
    background-color: rgba(253, 255, 226, 0.51);
    transition: 0.3s ease-out;
}
.head_Search{
    float:right;
    display: block;
}
/*fine css navbar statica*/



/*responsive css navbar*/
