*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.admin_panel{
    color: #d1aa11;
    background-color: #292929;
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 15px;
}


.admin_panel input{
    horiz-align: center;
}